.homeStart{
  background-image: url("../../assets/imgHome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 43rem;
  margin-top: 4.4rem;
}

.wave{
  position: absolute;
  bottom: 0;
  margin-left: -9.5rem;
  width: 100%;
  
}


/* .wave{
  position: absolute;
  bottom: 0;
  margin-left: -9.5rem;
  height: 20rem;
  width: 100%;
  
} */